black==23.7.0
click==8.1.7
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
Faker==18.9.0
fonttools==4.42.0
greenlet==2.0.2
keyboard==0.13.5
kiwisolver==1.4.4
markdown-it-py==3.0.0
matplotlib==3.7.2
mdurl==0.1.2
mypy-extensions==1.0.0
mysql-connector-python==8.1.0
networkx==3.1
numpy==1.25.2
packaging==23.1
pathspec==0.11.2
Pillow==10.0.0
platformdirs==3.10.0
protobuf==4.21.12
Pygments==2.16.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-decouple==3.8
rich==13.5.2
six==1.16.0
SQLAlchemy==2.0.20
SQLAlchemy-Utils==0.41.1
typing_extensions==4.7.1
